@import '../../styles';
.video__container{
  @extend .section__basic-style--purple;
  @extend .section__column;
  background-image: url("../../assets/images/bg/video_bg.png");

  h3{
    margin-top: 25px;
    @include default-header;
    font-family: $font-regular;
  }

}
