<div class="portfolio__container">
  <div class="section__row">
    <div class="title__wrap">
      <h1>
        {{title}}
      </h1>

    </div>
    <div class="link__wrap">

      <a href="">
        {{link}}
      </a>
      <img src="{{forward}}" alt="">
    </div>
  </div>
  <div class="section__row">
    <div class="gallery">
      <div class="gallery__item" *ngFor="let item of galleryItems">

      </div>
    </div>
  </div>
  <div class="section__row">
    <div class="button__highlight--white">{{button}}</div>
  </div>
</div>
