<div class="portfolio-container">
  <div class="section-row">
    <div class="title-wrap">
      <h1>
        {{title}}
      </h1>

    </div>
    <div class="link-wrap">

      <a href="">
        {{link}}
      </a>
      <img src="{{forward}}" alt="">
    </div>
  </div>
  <div class="section-row">
    <div class="gallery">
      <div class="gallery-item" *ngFor="let item of galleryItems">

      </div>
    </div>
  </div>
  <div class="section-row">
    <div class="button-basic">{{button}}</div>
  </div>
</div>
