<div class="contact__container">

  <div class="contact__form">
    <h1>{{formTitle}}</h1>
    <form action="">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="subject" placeholder="subject">
      <textarea type="text" name="message" placeholder="Your Message"></textarea>

    </form>
    <div class="button__highlight--white">
      submit
    </div>
  </div>
  <div class="sponsors">
    <h1>{{sponsorTitle}}</h1>

    <div class="sponsor__gallery">

        <div class="sponsor__image__wrap">
          <img  *ngFor="let sponsor of sponsors" class="sponsor-image" src="{{sponsor.image}}" alt="">
        </div>

    </div>

  </div>

</div>
