<div class="footer__container">
  <div class="footer__sections">
    <div class="footer__description">
      <img src="{{logo}}" alt="Logo img">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ea eaque eius eum
        ipsam nesciunt nulla pariatur quas quasi quidem, quis quisquam, quod recusandae reiciendis reprehenderit sint ut
        vero voluptate!</p>
    </div>
    <div class="contact-details">
      <h1>Our Studio</h1>
      <div class="spot__location">
        <img src="{{locationIcon}}" alt="location icon">
        <p>Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat
          11480 - Indonesia</p>
      </div>
      <div class="spot__phone">
        <img src="{{phoneIcon}}" alt="phone icon">
        <p>(+62) 21-2224 3333</p>
      </div>
    </div>
    <div class="social-media">
      <h1>Stay in touch</h1>
      <div class="newsletter__container">
        <input type="text" name="subscription" placeholder="Subscribe to our newsletter">
        <div class="button-subscribe">
          <img src="{{subscribe}}" alt="">
        </div>
      </div>
      <div class="social-buttons__container">
        <div class="social-button" *ngFor="let socialIcon of socialIcons">
          <img src="{{socialIcon.icon}}" alt="social icon">
        </div>
      </div>
    </div>
  </div>
  <div class="footer__extras">
    <div class="extras">
      <a href="#">Help</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Privacy</a>
    </div>
    <div class="copyright">Copyright c 2017 - Someone Special</div>
  </div>
</div>
