@import '../../styles';

.footer-container {
  @extend .section-basic-style_purple;
  @include column-center-Flex;
  background-image: url("../../assets/images/bg/footer_bg.png");
}

.footer-sections {
  @include row-center-Flex;
  justify-content: space-between;
  align-items: stretch;
  width: 900pt;
  height: 100%;

}

.footer-extras {
  @include row-center-Flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 900pt;

}

.footer-description {
  @include footer-box;
}

.contact-details {

  @include footer-box;
  * {
    margin: 0;
    padding: 0;
  }
}

.social-media {

  @include column-center-Flex;
  justify-content: space-between;
  align-items: flex-start;
  @include footer-box;
  @extend .contact-details;
  * {
    margin: 0;
    padding: 0;
  }
  width: 200pt;
}

.spot-location {
  @include row-center-Flex;

  * {

  }
  p {
    width: 93%;
    margin-top: 20px;
  }
  img {
    margin-right: 2%;
  }

}

.spot-phone {
  @extend .spot-location;
}

.newsletter-container {
  @include row-center-Flex;
  justify-content: space-between;
  width: 200pt;

  input {
    background-color: transparent;
    border: 0.1px solid $paragraph-color;
    width: 140pt;
    height: 30pt;
  }
}

.social-buttons-container {
  @include row-center-Flex;
  justify-content: space-between;
  width: 200pt;

}

.social-button {
  @include column-center-Flex;
  cursor: pointer;
  width: 30pt;
  height: 30pt;
  border: 1px solid white;
  border-radius: 50%;
  &:hover {
    background-color: $highlight;
    border-color: $highlight;
    opacity: 1;
  }
  &:active {
    background-color: #a09ea5;
    border-color: #a09ea5;
  }
  transition: all 200ms ease;

}

.button-subscribe {
  @include column-center-Flex;
  width: 50pt;
  height: 30pt;
  background-color: white;
  opacity: 0.6;
  cursor: pointer;
  &:hover {
    background-color: $highlight;
    opacity: 1;
  }
  &:active {
    background-color: #029ae0;
  }
  transition: all 200ms ease;

}
