<div class="footer-container">
  <div class="section-row">
    <div class="description">
      <img src="" alt="Logo img">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ea eaque eius eum
        ipsam nesciunt nulla pariatur quas quasi quidem, quis quisquam, quod recusandae reiciendis reprehenderit sint ut
        vero voluptate!</p>
    </div>
    <div class="contact-details">
      <h1>Our Studio</h1>
      <div class="location-spot">
        <img src="" alt="location icon">
        <p>Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat
          11480 - Indonesia</p>
      </div>
      <div class="phone-spot">
        <img src="" alt="phone icon">
        <p>(+62) 21-2224 3333</p>
      </div>
    </div>
    <div class="social-media">
      <h1>Stay in touch</h1>
      <div class="newsletter-container">
        <input type="text" name="subscription">
        <div class="button-subscribe">Subscribe</div>
      </div>
      <div class="social-buttons-container">
        <div class="social-button">
          <img src="" alt="social icon">
        </div>
      </div>
    </div>
  </div>
  <div class="section-row">
    <div class="extras">
      <a href="#">Help</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Privacy</a>
    </div>
    <div class="copyright">Copyright c 2017 - Someone Special</div>
  </div>
</div>
