@import '../../styles';
.about-container{
  @extend .section-basic-style_white;
  @include row-center-Flex;
}
.grid-container{
  @include row-center-Flex;
  .spot-article {
    width: 60%;
    h1{
      text-transform: uppercase;
    }
  }
  .spot-image{
    width: 40%;
  }
}





