@import '../../styles';

.grid-container{
  @include row-center-Flex;
  justify-content: space-around;


  .spot{
    &__image{
      flex-basis: 23%;
    }
    &__article{
      @include column-center-Flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-basis: 47%;

      *{
        margin: 20px 0;
      }
      h1{
        @include default-header;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }
    }

  }
}





