<div class="section__basic-style section__basic-style--white section__row">
  <div class="grid-container">
    <div class="spot__image">
      <img src="{{image}}" alt="About image">
    </div>
    <div class="spot__article">
      <h1>our story</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusantium amet asperiores debitis dolorem, illo ipsam labore
        maiores minima nesciunt nisi placeat porro,
        quas quia quod ratione repellat suscipit totam voluptatum.
      </p>
      <div class="button__highlight--white">
        learn more
      </div>
    </div>
  </div>
</div>
