<div class="about-container">
  <div class="grid-container">
    <div class="spot-image">
      <img src="" alt="About image">
    </div>
    <div class="spot-article">
      <h1>our story</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusantium amet asperiores debitis dolorem, illo ipsam labore
        maiores minima nesciunt nisi placeat porro,
        quas quia quod ratione repellat suscipit totam voluptatum.
      </p>
      <div class="button-basic_white">
        <p>learn more</p>
      </div>
    </div>
  </div>
</div>
