/*default font styling*/
/*colors*/
/*dimensions*/
/*mixins*/
/*global classes*/
.section-basic-style {
  height: auto;
  width: 100%; }
  .section-basic-style_white {
    background-color: white;
    padding: 20px 0;
    width: 100%;
    min-height: 350pt; }
  .section-basic-style_purple, .team-container {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 550px;
    height: auto;
    padding: 20px 0;
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .section-basic-style_purple:before, .team-container:before {
      mix-blend-mode: multiply;
      width: 100%;
      height: 100%;
      content: '';
      opacity: 0.99;
      background: #4d3e73;
      position: absolute;
      left: 0;
      z-index: -1; }
.section-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.grid-container {
  width: 960px; }

.button-basic, .button-basic_white {
  padding: 10px;
  width: fit-content;
  border: 1px solid #00e0d0;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  border-radius: 1.5px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #00e0d0;
  cursor: pointer;
  transition: all ease-in 100ms; }
  .button-basic:active, .button-basic_white:active {
    color: #4d3e73;
    border-color: white;
    background-color: white; }
  .button-basic_white {
    transition: all ease-in 100ms; }
    .button-basic_white:active {
      color: white;
      border-color: #4d3e73;
      background-color: #4d3e73; }

.team-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/bg/team_bg.png");
  height: 600pt; }

.decoraive-bar {
  width: 52pt;
  height: 12pt;
  margin-bottom: 25pt;
  border-bottom: 0.1px solid white; }

.title-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  .title-wrap * {
    margin: 8px 0; }

.grid-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100%; }
  .grid-container h1 {
    font-family: "Montserrat black", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    text-transform: uppercase; }
  .grid-container h3 {
    font-family: "Montserrat black", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: "Montserrat Semi Bold", sans-serif;
    font-size: 0.8em; }

.team-members-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.team-member {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 0.1px solid white; }

.team-member-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  justify-content: last-baseline;
  min-height: 100px; }
  .team-member-description h1 {
    margin-bottom: 5px;
    font-family: "Montserrat black", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em; }
  .team-member-description h2 {
    margin-top: 5px;
    font-family: "Montserrat black", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: "Montserrat Light", sans-serif;
    font-size: 0.6em; }

/*# sourceMappingURL=team-component.component.css.map */
