<div class="team-container">
  <div class="grid-container">
    <div class="title-wrap">
      <h1>{{title}}</h1>
      <h3>{{tag}}</h3>
      <div class="decoraive-bar"></div>
    </div>
    <div class="team-members-container">
      <div class="team-member" *ngFor="let member of members">
        <img src="{{member.image}}" alt="{{member.image}}">
        <div class="team-member-description">
          <h1>{{member.name}}</h1>
          <h2>{{member.position}}</h2>
        </div>
      </div>
    </div>
    <div class="title-wrap">
      <h3>{{catchPhrase}}</h3>
      <div class="button-basic">{{teamButton}}</div>
    </div>
  </div>
</div>
