@import '../../styles';
.testimonials-container{
  @extend .section-basic-style_purple;
  @include column-center-Flex;
  justify-content: flex-start;
  padding-top: 100px;
  min-height: 550px;
  position: relative;
}
.grid-container{

  @include column-center-Flex;


}
.testimonial-gallery{
  @include row-center-Flex;
  position: absolute;
  height: 70px;
  bottom: 20%;
}
.testimonial-image{
  @include alternate($gallery-colors);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;

  &:hover{
    width: 70px;
    height: 70px;
  }
  transition: all 0.3s ease-in;
}
