<div class="testimonials-container">
  <div class="grid-container">
    <h1>{{title}}</h1>
    <p>{{testimonial[0]
      .body}}</p>
    <div class="testimonial-author">
      <h1>{{testimonial[0].author.name}}</h1>
      <h2>{{testimonial[0].author.position}}</h2>
    </div>
    <div class="testimonial-gallery">
      <img src="../../assets/images/icons/back.png" alt="" class="back">
      <div class="testimonial-image" *ngFor="let image of testimonial">

        <img src="{{image.image}}" alt="">
      </div>
      <img src="../../assets/images/icons/forward.png" alt="" class="back">
    </div>
  </div>
</div>
