@import '../../styles';

.testimonials {
  &__container {
    @extend .section__basic-style--purple;
    @extend .section__column;

    background-image: url("../../assets/images/bg/testimonials_bg.png");
    justify-content: flex-start;
    padding: 0;

  }
}

.grid-container {

  @include column-center-Flex;
  h1 {
    @include default-header;

  }
  p {
    @include default-paragraph;
    text-align: center;
  }

  padding-top: 3%;
}

.testimonial {
  &__author {
    @include column-center-Flex;
    h1 {
      @include default-header;
      font-family: $font-subtitle;
      font-size: 0.9em;
      margin-top: 20px;
    }
    h2 {
      @include default-paragraph;
      font-family: $font-paragraph;
      font-size: 0.7em;

    }
  }
  &__gallery {
    @include row-center-Flex;
    position: absolute;
    height: 70px;
    bottom: 20%;
  }
  &__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;

    img {

      cursor: pointer;
      &:hover {

        transform: scale(1.4);

      }
      transition: all 200ms ease-in;

    }

  }

}

