@import '../../styles';
.nav-container{
  @include row-center-Flex;
  justify-content: space-around;
}
ul{

@include row-center-Flex;
  justify-content: flex-end;
  li{
    margin: 0 10px;
    @include default-link
  }

}

