
/*colors*/
$placeholder-color: #a09ea5;
$gallery-colors: #D0D0D0, #909090, #707070, #484848;

$header-background: #41316a;

$text-highlight: #11a3a8;
$text-menu: white;



/*dimensions*/
$grid-width: 960pt;
$sponsor-image-height: 70pt;
$sponsor-image-width:162pt;
$sponsor-image-gutter: 5pt;
$contact-section-gutter: 30pt;
/*mixins*/
@mixin alternate($colors) {
  $len: length($colors);
  @each $color in $colors {
    $i: index($colors, $color);
    &:nth-of-type(#{$len}n + #{$i}) {
      background-color: $color;
    }
  }
}

@mixin column-center-Flex{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@mixin row-center-Flex{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/*global classes*/


.section {
  &-basic-style {
    height: auto;
    width: 100%;

    &_white {
      background-color: white;
      padding: 20px 0;
      width: 100%;
    }
    &_purple {
      width: 100%;
      background-color: $header-background;
      padding: 20px 0;
      color: white;
    }

  }
  &-row {
    @include row-center-Flex;
  }
}
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: inherit;
  }

  .grid-container{
    width: 960px;
  }
  .button-basic{
    padding: 5px;
    width: fit-content;
    border: 1px solid black;
    text-transform: uppercase;
  }

