@import '../../styles';

.products {
  &__container {
    @extend .section__basic-style--white;
    @extend .section__row;
  }
}

.grid {
  &__container {
    @include column-center-Flex;
    h1 {
      @include default-header;
    }
    h4 {
      @include default-header;
      font-family: "Montserrat Light", sans-serif;
      font-size: 0.8em;
    }
  }
}

.services {
  &__list {
    width: 100%;
    @include row-center-Flex;
    flex-wrap: wrap;
    /*border: 1px solid saddlebrown;*/
  }
}

.service {
  width: 28%;
  @include column-center-Flex;
  margin: 10px 20px;

  /*border: 1px solid saddlebrown;*/
  h1 {
    @include default-header;
    font-family: "Montserrat Light", sans-serif;
    font-size: 0.9em;

  }
  p {
    @include default-paragraph;
    color: $paragraph-color;
    text-align: center;

  }
  * {
    margin: 10px 0;
  }
}



