@import '../../styles';
.products-container{
  @extend .section-basic-style_white;
  @include row-center-Flex;
}
.grid-container{
  @include column-center-Flex;
}

.services-list{
  width: 100%;
  @include row-center-Flex;
  flex-wrap: wrap;
  /*border: 1px solid saddlebrown;*/
}
.service{
  width: 28%;
  @include column-center-Flex;
  margin: 10px 20px;
  /*border: 1px solid saddlebrown;*/
  h1{
    text-transform: uppercase;
    font-size: 0.6em;
    text-align: center;
  }
  p{
    font-size: 0.9em;
    text-align: center;
  }
}

